:root{
    --Softred: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --DarkDesaturatedCyan: hsl(167, 40%, 24%);
    --DarkBlue: hsl(198, 62%, 26%);
    --DarkModerateCyan: hsl(168, 34%, 41%);
    --VeryDarkDesaturatedBlue: hsl(212, 27%, 19%);
    --VeryDarkGrayishBlue: hsl(213, 9%, 39%);
    --DarkGrayishBlue: hsl(232, 10%, 55%);
    --GrayishBlue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
    --FontFamilyFraunces: 'Fraunces', serif;
    --FontFamilyBarlow: 'Barlow', serif;
}
*{
    margin: 0;
    padding: 0;
}

/*  */
/* header */
/*  */

.header{
    background-color: #3ebfff;
    background-image: url(../images/desktop/image-header.jpg);
    background-size: cover;
    background-position: bottom;
    height: 100vh;
}
.nav-item .nav-link{
    font-family: var(--FontFamilyBarlow);
    color: var(--White);
}
.nav-link.link-active{
    color: var(--VeryDarkDesaturatedBlue);
    font-family: var(--FontFamilyFraunces);
    background-color: var(--White);
    border-radius: 22px;
    padding: 0.6rem 1.2rem !important;
}
.nav-link.link-active:hover{
    color: var(--White);
    background-color: var(--DarkBlue);
}
.title_header{
    font-family: var(--FontFamilyFraunces);
    color: var(--White);
    font-weight: 900;
    text-align: center;
    letter-spacing: 8px;
    margin-top: 5rem;
}

/* item_info */

.item_info{
    grid-template-columns: 1fr 1fr;
}
.grid-item{
    height: 540px;
    padding: 7rem 6rem 6rem 7rem;
    font-family: var(--FontFamilyFraunces);
}
.background_image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.yellow{
    background-image: url(../images/desktop/image-transform.jpg);
}
.softred{
    background-image: url(../images/desktop/image-stand-out.jpg);
}
.cyan{
    background-image: url(../images/desktop/image-graphic-design.jpg);
    background-position: top;
    padding: 45% 25% 0 25%;
    text-align: center;
    color: var(--DarkDesaturatedCyan);
}
.blue{
    background-image: url(../images/desktop/image-photography.jpg);
    background-position: top;
    padding: 45% 25% 0 25%;
    text-align: center;
    color: var(--DarkBlue);
}
.h2-title{
    color: var(--VeryDarkDesaturatedBlue);
}
.grid-item p{
    line-height: 2;
    color: var(--DarkGrayishBlue);
    font-family: var(--FontFamilyBarlow);
    margin: 2rem 0;
}
.blue p{
    color: var(--DarkBlue);
}
.cyan p{
    color: var(--DarkModerateCyan);
}
.grid-item .link_item{
    color: var(--VeryDarkDesaturatedBlue);
    text-decoration: none;
    padding: 0 8px;
}
.grid-item .link_item::before{
    content: "";
    position: absolute;
    bottom: -0-5rem;
    bottom: -0.1rem;
    left: 0;
    height: 8px;
    border-radius: 5px;
    width: 100%;
    z-index: -10;  
}
.grid-item .link_yellow::before{
    background-color: #fad40070;
}
.grid-item .link_softred::before{
    background-color: #fe726385
}
.grid-item .link_yellow:hover::before{
    background-color: var(--Yellow);
}
.grid-item .link_softred:hover::before{
    background-color: var(--Softred);
}

.user_padding{
    padding: 6rem 0;
}
.user_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.user_title{
    text-align: center;
    font-family: var(--FontFamilyFraunces);
    color: var(--GrayishBlue);
    letter-spacing: 4px;
    font-size: 18px;
    padding-bottom: 3rem;
}
.user_avatar img{
    width: 80px;
}
.user_info .user_testi{
    color: var(--GrayishBlue);
    text-align: center;
}

.user_name h4{
    font-family: var(--FontFamilyFraunces);
    font-size: 18px;
}
.user_name span{
    color: var(--GrayishBlue);
    font-size: 14px;
}

.flex_img{
    grid-auto-flow: column;
    grid-template-rows: 450px;
}
.flex_img_milk{
    background-image: url(../images/desktop/image-gallery-milkbottles.jpg)
}
.flex_img_orange{
    background-image: url(../images/desktop/image-gallery-orange.jpg);
}
.flex_img_cone{
    background-image: url(../images/desktop/image-gallery-cone.jpg);
}
.flex_img_marsh{
    background-image: url(../images/desktop/image-gallery-sugarcubes.jpg);
}


.footer{
    background-color: var(--DarkModerateCyan);
    color: var(--DarkDesaturatedCyan);
}

.footer .footer_title{
    color: var(--DarkDesaturatedCyan);
    font-weight: 800;
}
.footer .nav-link{
    color: var(--DarkDesaturatedCyan);
}
.footer .nav-link:hover{
    color: var(--White);
}
@media (max-width:768px){
    .header ul.navbar-nav{
        position: absolute;
        background-color: var(--White);
        width: 100%;
        padding: 2rem;
        margin-top: 36px;
    }
    .header .nav-item .nav-link{
        text-align: center;
        color: var(--DarkGrayishBlue);
    }
    .header .nav-link.link-active{
        color: var(--VeryDarkDesaturatedBlue);
        background-color: var(--Yellow);
        width: fit-content;
    }
    .header .navbar-nav .nav-item{
        margin: auto;
    }
    .triangule{
        height: 20px;
        width: 20px;
        position: absolute;
        right: 0;
        margin-top: 16px;
        border-right: solid var(--White) 10px;
        border-bottom: solid var(--White) 10px;
        border-top: solid #3ebfff 10px;
        border-left: solid #3ebfff 10px;

    }
    .grid-item{
        height: auto;
    }
    .footer .navbar-nav{
        display: flex !important;
        flex-direction: row;
    }
}
@media  (max-width:425px) {
    .header{
        background-image: url(../images/mobile/image-header.jpg);
    }
    .item_info{
        grid-template-columns: 1fr;
    }
    .grid-item{
        padding: 3rem 1rem;
        text-align: center;
        height: auto;
    }
    .yellow{
        background-image: url(../images/mobile/image-transform.jpg);
        height: 360px;
        order: -1;
    }
    .softred{
        background-image: url(../images/mobile/image-stand-out.jpg);
        height: 360px;
    }
    .cyan{
        background-image: url(../images/mobile/image-graphic-design.jpg);
        height: 600px; 
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 1rem;
    }
    .blue{
        background-image: url(../images/mobile/image-photography.jpg);
        height: 600px; 
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 1rem;
    }
    .cyan p, .blue p{
        margin-top: 1rem;
    }

    .user_card {
        flex-wrap: wrap; 
    }
    .user_info{
        gap: 1rem;
       margin-top: 2rem;
    }
    .flex_img{
        grid-auto-flow: row;
        grid-template-rows: 250px 250px;
        grid-template-columns: 1fr 1fr;
    }
    .flex_img_milk{
        background-image: url(../images/mobile/image-gallery-milkbottles.jpg)
    }
    .flex_img_orange{
        background-image: url(../images/mobile/image-gallery-orange.jpg);
    }
    .flex_img_cone{
        background-image: url(../images/mobile/image-gallery-cone.jpg);
    }
    .flex_img_marsh{
        background-image: url(../images/mobile/image-gallery-sugar-cubes.jpg);
    }
}
